<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>
    {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1> Данные с фейк API </h1>
    <pre> {{ output }} </pre>
  </main>

  <footer>
    <p>&copy; 2021 My Website. All rights reserved.</p>
  </footer>
</body>
</html>